.Hero{
    margin: 0;
    padding: 40px 0 50px 0;
    background-color: #FA4298;
    color: #fff;
    height: auto;
    position: relative;
}

.custom-shape-divider-bottom-1650470129 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1650470129 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1650470129 .shape-fill {
    fill: #FFFFFF;
}

.Hero-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 20px 10%;
    flex-wrap: wrap;
}

.Hero-info{
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 300px;
}

.Hero-container > img {
    width: 70%;
    max-width: 550px;
    z-index: 9;
    flex:1 1 300px;
}

@media only screen and (max-width: 956px) {
    .Hero-container > img {
        order: 1;
    }

    .Hero-info{
        order: 2;
        margin-bottom: 20px;
        max-width: 100%;

    }
}
